body {
  background-image: url('Img/back_ligth.jpg');
  background-size: 100vw 100vh;
  font-family: Courier New;
}

.d-flex {
  display: flex;
  align-items: center;
}

.container {
  flex-direction: column-reverse;
  width: 90%;
  padding: 15px;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
}

h1{
  font-family: Lucida Handwriting;
  margin-left: 25px;
  margin-top: 40px;
}

.headTable h3 {
  margin-right: 15px;
  font-size: 22px;
  font-weight: 800;
  font-family: Lucida Handwriting;
}

.headTable table {
  width: 100%;
  font-weight: 600;
  border-spacing: 0;
}

.tablecontainer {
  max-height: 400px;
  overflow-y: auto;
  border: solid 5px transparent;
  border-image: linear-gradient(135deg, rgb(93, 185, 221) 15%, rgb(230, 116, 186) 30%, rgb(147, 65, 172) 65%, rgb(255, 255, 255) 100%) 1;
  border-radius: 10px;
}

.tablecontainer::-webkit-scrollbar {
  height: 8px;
}

.tablecontainer::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 4px;
}

.opacy {
  background-color: rgb(223, 222, 222);
}

tr {
  height: 30px;
  margin-left: 5px;
}

td {
  padding-left: 10px;
}

.headTable {
  width: 70%;
}

form {
  display: flex;
  flex-direction: column;
  gap: 22px;
  align-items: end;
  width: 200px;
}

input[type="text"] {
  border-width: 3px;
  border-image: linear-gradient(135deg, rgb(93, 185, 221) 15%, rgb(230, 116, 186) 30%, rgb(147, 65, 172) 65%, rgb(255, 255, 255) 100%) 1;
  height: 22px;
  width: 200px;
  padding: 8px;
}

form button,
.title button {
  padding: 7px;
  font-size: 15px;
  width: 120px;
  border-radius: 10px;
  margin-bottom: 10px;
  border: transparent;
  background-color: rgba(248, 200, 208, 0.897);
}

#refreshMessage {
  margin-left: 18px;
  font-size: 16px;
  font-weight: 800;
  display: none;
  margin-bottom: 8px;
}

.title{
  flex-wrap: wrap;
}

@media (min-width: 760px) {
  .container {
    flex-direction: row;
  }
  .headTable {
    width: 450px;
  }
}
